{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout API",
    "description": "Consolidated APIs for MX Merchant",
    "version": "3.3.3"
  },
  "servers": [
    {
      "url": "https://sandbox.api.mxmerchant.com"
    }
  ],
  "tags": [
    {
      "name": "Payment",
      "description": "Our payment API is easy to use and ready to be used by our merchants. This API can make payments, delete payments, and get information on created payments. This API can be used by anyone who is interested in online payments. This can be used by new businesses going into the online market or local businesses that want to move their business online."
    },
    {
      "name": "Recurring Payment",
      "description": "The recurring payment API is easy to use and ready to be used by anyone who wants to set up their own recurring payments. This API has a lot of features for creating and managing your recurring payments. With our API it's easier than ever to cancel contracts and check recent payments."
    },
    {
      "name": "Batches",
      "description": "This is our Batch API. With this API you can view and manage your batches. you can review all payments from individual batches. You also have the option of closing batches any time you want instead of using our automated system or manually doing it through the website."
    },
    {
      "name": "Customers",
      "description": "All Customer operation related APIs"
    },
    {
      "name": "Vaulted Accounts",
      "description": "Managing your customer's payment methods has been made easier thanks to our robust API. With this API you are able to update your customer's vaulted card information and much more. You can also remove expired payment options. This will also allow you to get information about your customer's vaulted bank/card information. For example, you can get a token. With the token, you can make quick easy payments."
    },
    {
      "name": "MX Merchant Reports",
      "description": "With our Report API can you retrieve all sorts of data from settlements, chargeback, and much more."
    },
    {
      "name": "Notifications",
      "description": "Notifications are used to alert you when specific events happen on your MX Merchant account."
    },
    {
      "name": "Merchant Account",
      "description": "Our merchant account has all the features you need to update your merchant. With our API, you can create user accounts and API keys without having to do it through the website. You can also update a merchant's settings such as loss prevention and much more. Below is a list of endpoints you will be using with example code."
    }
  ],
  "paths": {
    "/checkout/v3/batchpayment": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Get a Batch's transactions",
        "description": "List all transactions within a batch",
        "operationId": "Batches_GetaBatch'stransactions",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Batch Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "10000000257223"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n    \"records\": [\n        {\n            \"created\": \"2018-08-13T16:32:49.1Z\",\n            \"paymentToken\": \"PuxC40yq10wgVglWcyhqlCM\",\n            \"id\": 8983246,\n            \"creatorName\": \"APi Key\",\n            \"merchantId\": 282059433,\n            \"batch\": \"0001\",\n            \"batchId\": 10000000550618,\n            \"tenderType\": \"Card\",\n            \"currency\": \"USD\",\n            \"amount\": \"85.26\",\n            \"cardAccount\": {\n                \"cardType\": \"Visa\",\n                \"entryMode\": \"Keyed\",\n                \"last4\": \"4242\",\n                \"cardId\": \"ESkW1RwQPH4wdBllGQMsf\",\n                \"token\": \"PuxC40yq10YztVgVWlWcyhqlCM\",\n                \"expiryMonth\": \"12\",\n                \"expiryYear\": \"25\",\n                \"hasContract\": false,\n                \"cardPresent\": false\n            },\n            \"authOnly\": false,\n            \"authCode\": \"PPS6L1\",\n            \"status\": \"Settled\",\n            \"risk\": {\n                \"avsResponseCode\": \"Z\",\n                \"avsZipMatch\": true\n            },\n            \"requireSignature\": false,\n            \"settledAmount\": \"0\",\n            \"settledCurrency\": \"USD\",\n            \"settledDate\": \"2018-08-13T17:10:00.85\",\n            \"cardPresent\": false,\n            \"authMessage\": \"AUTH/TKT PPS6L1\",\n            \"availableAuthAmount\": \"0\",\n            \"reference\": \"PV6HS00MFIGG\",\n            \"tax\": \"5.58\",\n            \"invoice\": \"S00MFIGG\",\n            \"customerCode\": \"eFiling 31524\",\n            \"customerName\": \"MAGGIE NEWTON\",\n            \"clientReference\": \"PV6HS00MFIGG\",\n            \"type\": \"SaleCompletion\",\n            \"taxExempt\": false,\n            \"reviewIndicator\": 0,\n            \"source\": \"API\"\n        },\n        {\n            \"created\": \"2018-08-13T16:32:48.16Z\",\n            \"paymentToken\": \"PXuqZHeuDTuVg9N2RF7xduL\",\n            \"id\": 8983245,\n            \"creatorName\": \"APi Key\",\n            \"merchantId\": 282059433,\n            \"batch\": \"0001\",\n            \"batchId\": 10000000550618,\n            \"tenderType\": \"Card\",\n            \"currency\": \"USD\",\n            \"amount\": \"4.26\",\n            \"cardAccount\": {\n                \"cardType\": \"Visa\",\n                \"entryMode\": \"Keyed\",\n                \"last4\": \"4242\",\n                \"cardId\": \"ESkW1RwQPcH4wdBllGQMsf\",\n                \"token\": \"PXuqZHeuDTLVgX9N2RF7xduL\",\n                \"expiryMonth\": \"12\",\n                \"expiryYear\": \"25\",\n                \"hasContract\": false,\n                \"cardPresent\": false\n            },\n            \"authOnly\": false,\n            \"authCode\": \"PPSCNW\",\n            \"status\": \"Settled\",\n            \"risk\": {\n                \"avsResponseCode\": \"Z\",\n                \"avsZipMatch\": true\n            },\n            \"requireSignature\": false,\n            \"settledAmount\": \"0\",\n            \"settledCurrency\": \"USD\",\n            \"settledDate\": \"2018-08-13T17:10:00.85\",\n            \"cardPresent\": false,\n            \"authMessage\": \"AUTH/TKT PPSCNW\",\n            \"availableAuthAmount\": \"0\",\n            \"reference\": \"PV6HT00DUDPY\",\n            \"tax\": \"0.28\",\n            \"invoice\": \"T00DUDPY\",\n            \"customerCode\": \"eFiling 31524\",\n            \"customerName\": \"MAGGIE NEWTON\",\n            \"clientReference\": \"PV6HT00DUDPY\",\n            \"type\": \"SaleCompletion\",\n            \"taxExempt\": false,\n            \"reviewIndicator\": 0,\n            \"source\": \"API\"\n        }\n    ],\n    \"recordCount\": 2\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/batch": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Get Batches",
        "description": "Get List of Batches",
        "operationId": "Batches_GetBatches",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "description": "Id of the merchant",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "1000003329"
          },
          {
            "name": "dateType",
            "in": "query",
            "description": "Date type filter. Values: Any, Today, Yesterday, This Week, This Month, Last 7 Days, Last 30 Days, Custom",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "YYYY-MM-DDThh:mm:ssZ (Required for Custom dateType)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "YYYY-MM-DDThh:mm:ssZ (Required for Custom dateType)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Batch status. Values: Open, Closed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tender",
            "in": "query",
            "description": "Batch tender type. Values: Card, Cash, Check, ACH",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "Amount filter",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "Amount filter",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many records to show.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "50"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "0"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n  \"records\": [\n    {\n      \"id\": 10000000550618,\n      \"reference\": \"0001\",\n      \"status\": \"Closed\",\n      \"opened\": \"2018-08-13T16:32:47.29Z\",\n      \"closed\": \"2018-08-13T17:10:00.85Z\",\n      \"saleCount\": 2,\n      \"saleAmount\": \"89.52\",\n      \"netTip\": \"0\",\n      \"returnCount\": 0,\n      \"returnAmount\": \"0\",\n      \"netCount\": 2,\n      \"netAmount\": \"89.52\",\n      \"netTotal\": \"89.52\",\n      \"displayColor\": \"Green\",\n      \"processorName\": \"Omaha Settlement\",\n      \"device\": \"Z11X\",\n      \"tenderType\": \"Card\",\n      \"closerName\": \"System\"\n    }\n  ],\n  \"recordCount\": 1,\n  \"totals\": {\n    \"recordCount\": 1,\n    \"netTotal\": \"89.52\"\n  }\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/batch/{batchId}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Get a Batch",
        "description": "Get a single batch",
        "operationId": "Batches_GetaBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Batch Id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n    \"id\": 10000000550618,\n    \"reference\": \"0001\",\n    \"status\": \"Closed\",\n    \"opened\": \"2018-08-13T16:32:47.29Z\",\n    \"closed\": \"2018-08-13T17:10:00.85Z\",\n    \"saleCount\": 2,\n    \"saleAmount\": \"89.52\",\n    \"netTip\": \"0\",\n    \"returnCount\": 0,\n    \"returnAmount\": \"0\",\n    \"netCount\": 2,\n    \"netAmount\": \"89.52\",\n    \"device\": \"Z11X\",\n    \"tenderType\": \"Card\",\n    \"closerName\": \"System\"\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "put": {
        "tags": [
          "Batches"
        ],
        "summary": "Close a Batch",
        "description": "Manually close a batch",
        "operationId": "Batches_CloseaBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "Batch Id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/payment": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Get Payments",
        "description": "Retrieve Payment List",
        "operationId": "Payment_GetPayments",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "Values: Any, Sale, Refund, Authorization",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenderType",
            "in": "query",
            "description": "Values: Any, Card, Cash, Check, ACH",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Values: Any, Approved, Voided, Declined",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateType",
            "in": "query",
            "description": "Values: Any, Today, Yesterday, WeekToDate, MonthToDate, Last7, Last30, Custom",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "YYYY-MM-DDThh:mm:ssZ (Required for Custom dateType)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "YYYY-MM-DDThh:mm:ssZ (Required for Custom dateType)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Values: Any, quickPay, Link2Pay, Invoice, Recurring, Order, mxExpress, mxRetail, API, BIP, Terminal",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "10"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Search payments by Reference, Auth Code, PO, Customer",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": ""
          },
          {
            "name": "id",
            "in": "query",
            "description": "Specific paymentId to return a single payment",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeCustomer",
            "in": "query",
            "description": "Returns the customer object associated with the payment",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "ShouldGetCreditCardLevel",
            "in": "query",
            "description": "Checks if the card is a business card. Only used when B2B is enabled.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n   \"records\":[\n      {\n         \"created\":\"2018-01-26T15:24:45.503Z\",\n         \"id\":22028972,\n         \"creatorName\":\"John Doe\",\n         \"merchantId\":418324776,\n         \"tenderType\":\"Card\",\n         \"currency\":\"USD\",\n         \"amount\":\"0.01\",\n         \"cardAccount\":{\n            \"cardType\":\"Visa\",\n            \"last4\":\"1111\",\n            \"cardId\":\"y15QvOteHZGBm7LH3GNIlTWbA1If\",\n            \"hasContract\":false,\n            \"cardPresent\":false\n            },\n         \"authOnly\":false,\n         \"authCode\":\"PPSPTP\",\n         \"status\":\"Approved\",\n         \"risk\":{},\n         \"settledAmount\":\"0\",\n         \"settledCurrency\":\"USD\",\n         \"cardPresent\":false,\n         \"authMessage\":\"AUTH/TKT PPSPTP\",\n         \"availableAuthAmount\":\"0\",\n         \"reference\":\"053DS009DZBI\",\n         \"tax\":\"0\",\n         \"invoice\":\"S009DZBI\",\n         \"customerCode\":\"053DS009DZBI\",\n         \"clientReference\":\"053DS009DZBI\",\n         \"type\":\"Sale\",\n         \"reviewIndicator\":0,\n         \"source\":\"QuickPay\"\n      },\n      {\n         \"created\":\"2018-01-25T21:40:06.11Z\",\n         \"id\":22028830,\n         \"creatorName\":\"John Doe\",\n         \"merchantId\":418324776,\n         \"tenderType\":\"Card\",\n         \"currency\":\"USD\",\n         \"amount\":\"0.01\",\n         \"cardAccount\":{\n            \"cardType\":\"Visa\",\n            \"last4\":\"1111\",\n            \"cardId\":\"y15QvOteHZGBm7LH3GNIlTWbA1If\",\n            \"hasContract\":false,\n            \"cardPresent\":false\n            },\n         \"authOnly\":false,\n         \"authCode\":\"PPS6G4\",\n         \"status\":\"Settled\",\n         \"risk\":{},\n         \"settledAmount\":\"0\",\n         \"settledCurrency\":\"USD\",\n         \"settledDate\":\"2018-01-26T15:16:49.763\",\n         \"cardPresent\":false,\n         \"authMessage\":\"AUTH/TKT PPS6G4\",\n         \"availableAuthAmount\":\"0\",\n         \"reference\":\"053DO00MTVBI\",\n         \"tax\":\"0\",\n         \"invoice\":\"O00MTVBI\",\n         \"customerCode\":\"053DO00MTVBI\",\n         \"customerName\":\"Jane Doe\",\n         \"clientReference\":\"053DO00MTVBI\",\n         \"type\":\"Sale\",\n         \"reviewIndicator\":0,\n         \"source\":\"QuickPay\"\n      }\n   ],\n   \"recordCount\":2\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "post": {
        "tags": [
          "Payment"
        ],
        "summary": "Make a Payment",
        "description": "Enter Make a Payment Description",
        "operationId": "Payment_MakeaPayment",
        "parameters": [
          {
            "name": "includeCustomerMatches",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          },
          {
            "name": "echo",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_payment_body"
              },
              "examples": {
                "0": {
                  "value": "{     \"paymentType\": \"Sale\",     \"cardAccount\": {          \"number\": \"34598766783\",          \"expiryMonth\": \"04\",          \"expiryYear\": \"2036\",          \"token\": \"2763532810\",          \"expiryDate\": \"2021\"     },     \"entryClass\": \"WEB\",     \"authOnly\": false,     \"isAuth\": false,     \"isSettleFunds\": false,    \"source\": \"API\",     \"taxExempt\": false,     \"amount\": 400,     \"merchantId\": \"1000003329\",     \"tenderType\": \"Card\",     \"cardPresent\": true}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully as expected.",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n   \"created\":\"2018-03-21T21:34:15.24Z\",\n   \"paymentToken\":\"Pfcyy68HAtwxb0hM2mpYHLEzc5nSESc3\",\n   \"id\":22028828,\n   \"creatorName\":\"John Doe\",\n   \"merchantId\":418324776,\n   \"batch\":\"Z08X0\",\n   \"batchId\":2092732,\n   \"tenderType\":\"Card\",\n   \"currency\":\"USD\",\n   \"amount\":\"0.01\",\n   \"cardAccount\":{\n      \"cardType\":\"Visa\",\n      \"entryMode\":\"Keyed\",\n      \"last4\":\"1111\",\n      \"cardId\":\"y15QvOteHZGBm7LH3GNIlTWbA1If\",\n      \"token\":\"Pfcyy68HAtwxb0hM2mpYHLEzc5nSESc3\",\n      \"expiryMonth\":\"01\",\n      \"expiryYear\":\"19\",\n      \"hasContract\":false,\n      \"cardPresent\":true\n      },\n   \"posData\": {},\n   \"authOnly\":false,\n   \"authCode\":\"PPSVI7\",\n   \"status\":\"Approved\",\n   \"meta\":\"Memo Field\",\n   \"risk\": {\n        \"cvvResponseCode\": \"M\",\n        \"cvvResponse\": \"Match\",\n        \"cvvMatch\": true,\n        \"avsResponseCode\": \"Y\",\n        \"avsAddressMatch\": true,\n        \"avsZipMatch\": true\n    },\n   \"requireSignature\":false,\n   \"customer\":{\n      \"id\":10696183,\n      \"created\":\"2017-09-25T15:18:08.89Z\",\n      \"name\":\"Jane Doe\",\n      \"firstName\":\"Jane\",\n      \"lastName\":\"Doe\",\n      \"number\":\"\",\n      \"sales\":\"0\",\n      \"loyaltyStatus\":\"Enrolled\",\n      \"loyaltyEnrolled\":\"2017-09-25T15:18:08.89Z\",\n      \"customFields\":[],\n      \"displayColor\":\"A1BC3A\"\n      },\n   \"settledAmount\":\"0\",\n   \"settledCurrency\":\"USD\",\n   \"cardPresent\":true,\n   \"authMessage\":\"AUTH/TKT PPSVI7\",\n   \"availableAuthAmount\":\"0\",\n   \"reference\":\"053DO00MMCL7\",\n   \"tax\": \"0\",\n   \"invoice\": \"P000EBX6\",\n   \"clientReference\": \"053DO00MMCL7\",\n   \"replayId\": \"P000EBX6\",\n   \"type\":\"Sale\",\n   \"reviewIndicator\":0,\n   \"source\":\"API\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/paymentreceipt": {
      "post": {
        "tags": [
          "Payment"
        ],
          "summary": "Send a Payment Receipt",
          "description": "",
          "operationId": "payment_sendapaymentreceipt",
          "parameters": [
              {
                  "name": "id",
                  "in": "query",
                  "description": "Payment Id",
                  "required": true,
                  "schema": {
                      "type": "integer",
                      "format": "int32"
                  }
              },
              {
                  "name": "contact",
                  "in": "query",
                  "description": "For email provide email address and for text provide phone number",
                  "required": true,
                  "schema": {
                      "type": "string"
                  }
              },
              {
                  "name": "ignoreBcc",
                  "in": "query",
                  "schema": {
                      "type": "boolean"
                  }
              }
          ],
          "responses": {
              "202": {
                  "description": "202",
                  "content": {
                      "application/json": {
                          "examples": {
                              "Result": {
                                  "value": " "
                              }
                          }
                      }
                  }
              }
          },
          "deprecated": false
      }
  },
    "/checkout/v3/payment/{PaymentId}": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Get a Payment",
        "description": "Enter Get Payment Description",
        "operationId": "Payment_GetaPayment",
        "parameters": [
          {
            "name": "PaymentId",
            "in": "path",
            "description": "The id of the payment",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCustomer",
            "in": "query",
            "description": "Returns the customer object associated with the payment",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": "{\n    \"id\": 10696552,\n    \"created\": \"2018-01-30T15:02:09.547Z\",\n    \"name\": \"Test Customer\",\n    \"firstName\": \"Test\",\n    \"lastName\": \"Customer\",\n    \"number\": \"123\",\n    \"taxId\": \"*****3334\",\n    \"visits\": 0,\n    \"transactionCount\": 0,\n    \"spend\": \"0\",\n    \"sales\": \"0\",\n    \"refunds\": \"0\",\n    \"lastActivity\": \"2018-01-30T15:02:12.827Z\",\n    \"allowPromotions\": false,\n    \"loyaltyStatus\": \"Declined\",\n    \"loyaltyEnrolled\": \"\",\n    \"isVip\": false,\n    \"spendProfile\": \"New\",\n    \"spendProfileIcon\": \"glyphicon-butterfly\",\n    \"addressName\": \"Headquarters\",\n    \"address1\": \"221 E Baker St\",\n    \"address2\": \"Suite 2\",\n    \"city\": \"Dallas\",\n    \"state\": \"TX\",\n    \"zip\": \"75252\",\n    \"customerType\": \"Person\",\n    \"spendProfileOverride\": true,\n    \"isTaxExempt\": false,\n    \"hasPayments\": false,\n    \"hasContracts\": false,\n    \"hasInvoices\": false,\n    \"displayColor\": \"A1BC3A\",\n    \"activeStatus\": true\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "delete": {
        "tags": [
          "Payment"
        ],
        "summary": "Void a Payment",
        "description": "Enter Void a Payment Description",
        "operationId": "Payment_VoidaPayment",
        "parameters": [
          {
            "name": "PaymentId",
            "in": "path",
            "description": "The id of the payment",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force a refund if transaction has already settled",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": "true"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json; ": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customer": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customers",
        "description": "Get a list of customers",
        "operationId": "Customer_getlistofcustomers",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "Sort ascending or descending",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Search fields; can search on name, customer number, email, city, state, or zip",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "spendProfile",
            "in": "query",
            "description": "Search customers by spend profile",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "lastActivity"
            }
          },
          {
            "name": "lastActivity",
            "in": "query",
            "description": "Filter results to time customer was last active. Values: Lifetime, Month, Week, Yesterday, Today, Last30, Last7, Custom",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "Lifetime"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for time filter",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for time filter",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Result": {
                    "value": "{\n   \"records\":[\n      {\n         \"id\":10696183,\n         \"name\":\"John Doe\",\n         \"firstName\":\"John\",\n         \"lastName\":\"Doe\",\n         \"number\":\"\",\n         \"email\":\"john.doe@gmail.com\",\n         \"lastActivity\":\"2017-09-26T15:46:22.563Z\",\n         \"allowPromotions\":true,\n         \"spendProfile\":\"New\",\n         \"spendProfileIcon\":\"glyphicon-local-value\",\n         \"customerType\":\"Person\",\n         \"isTaxExempt\":false,\n         \"displayColor\":\"A1BC3A\",\n         \"activeStatus\":true\n      }\n   ],\n   \"recordCount\":1\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create customer",
        "description": "Create a new customer",
        "operationId": "Customers_createanewcustomer",
        "parameters": [
          {
            "name": "echo",
            "in": "query",
            "description": "Return results",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_customer_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_201"
                },
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 10696552,\n    \"created\": \"2018-01-30T15:02:09.547Z\",\n    \"name\": \"Test Customer\",\n    \"firstName\": \"Test\",\n    \"lastName\": \"Customer\",\n    \"number\": \"123\",\n    \"taxId\": \"*****3334\",\n    \"visits\": 0,\n    \"transactionCount\": 0,\n    \"spend\": \"0\",\n    \"sales\": \"0\",\n    \"refunds\": \"0\",\n    \"lastActivity\": \"2018-01-30T15:02:12.827Z\",\n    \"allowPromotions\": false,\n    \"loyaltyStatus\": \"Declined\",\n    \"loyaltyEnrolled\": \"\",\n    \"isVip\": false,\n    \"spendProfile\": \"New\",\n    \"spendProfileIcon\": \"glyphicon-butterfly\",\n    \"addressName\": \"Headquarters\",\n    \"address1\": \"221 E Baker St\",\n    \"address2\": \"Suite 2\",\n    \"city\": \"Dallas\",\n    \"state\": \"TX\",\n    \"zip\": \"75252\",\n    \"customerType\": \"Person\",\n    \"spendProfileOverride\": true,\n    \"isTaxExempt\": false,\n    \"hasPayments\": false,\n    \"hasContracts\": false,\n    \"hasInvoices\": false,\n    \"displayColor\": \"A1BC3A\",\n    \"activeStatus\": true\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customer/field": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Custom Fields for a Customers",
        "description": "You can create custom fields for your customers which you would then pass into the create customer route.",
        "operationId": "Customers_getcustomfieldforcustomer",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Customer's ID",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200"
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"fieldDefinitionId\": 211786,\n        \"fieldDefinitionName\": \"cart\",\n        \"fieldDataType\": \"String\",\n        \"isSystem\": false,\n        \"isRequired\": false,\n        \"id\": 0,\n        \"customerId\": 0,\n        \"options\": []\n    },\n    {\n        \"fieldDefinitionId\": 211787,\n        \"fieldDefinitionName\": \"new field\",\n        \"fieldDataType\": \"String\",\n        \"isSystem\": false,\n        \"isRequired\": false,\n        \"id\": 0,\n        \"customerId\": 0,\n        \"options\": []\n    }\n]"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/field": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create custom fields for customers",
        "description": "You can create custom fields for your customers which you would then pass into the create customer route\n",
        "operationId": "Customers_Createcustomfieldsforcustomers",
        "parameters": [
          {
              "name": "merchantId",
              "in": "query",
              "description": "Your merchant Id",
              "required": true,
              "schema": {
                  "type": "integer",
                  "format": "int32"
              }
          },
          {
              "name": "echo",
              "in": "query",
              "description": "true",
              "schema": {
                  "type": "boolean"
              }
          }
      ],
      "requestBody": {
          "content": {
              "application/json": {
                  "schema": {
                      "type": "object",
                      "required": [
                          "fieldName",
                          "fieldDataType",
                          "fieldSourceType",
                          "isDeleted",
                          "isSystem",
                          "isRequired"
                      ],
                      "properties": {
                          "id": {
                              "type": "string",
                              "description": "Id for the custom field (Auto-generated by server)",
                              "default": "null"
                          },
                          "name": {
                              "type": "string",
                              "description": "Descriptor name for the custom field"
                          },
                          "fieldName": {
                              "type": "string",
                              "description": "Name for the custom field object"
                          },
                          "fieldDataType": {
                              "type": "string",
                              "description": "Type of field. Values: Boolean, String, Integer, Decimal, or List"
                          },
                          "fieldSourceType": {
                              "type": "string",
                              "description": "Always customer",
                              "default": "Customer"
                          },
                          "isDeleted": {
                              "type": "boolean",
                              "description": "System level field (Always False)",
                              "default": false
                          },
                          "isSystem": {
                              "type": "boolean",
                              "description": "System Level Field (Always False)",
                              "default": false
                          },
                          "isRequired": {
                              "type": "boolean",
                              "description": "Noting if the custom field is required to fill out",
                              "default": false
                          },
                          "options": {
                              "type": "array",
                              "description": "Only required for Boolean and List. Name and Value should match.",
                              "items": {
                                  "properties": {
                                      "name": {
                                          "type": "string",
                                          "description": "Name of Option"
                                      },
                                      "value": {
                                          "type": "string",
                                          "description": "Value (same as name)"
                                      }
                                  },
                                  "required": [
                                      "name",
                                      "value"
                                  ],
                                  "type": "object"
                              }
                          }
                      }
                  }
              }
          }
      },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger"
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customerpayment": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer payments",
        "description": "Get customer payments",
        "operationId": "Customers_getcustomerpayment",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Customer Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Result": {
                    "value": "{\n   \"records\":[\n      {\n         \"created\":\"2018-03-01T21:23:39.21Z\",\n         \"paymentToken\":\"P2zf9DGxxxxxxxxxxxxuQx6hJLJ\",\n         \"id\":43982735,\n         \"creatorName\":\"Test Clerk\",\n         \"merchantId\":110070419,\n         \"batch\":\"1379\",\n         \"batchId\":3133569,\n         \"tenderType\":\"Card\",\n         \"last4\":\"9344\",\n         \"amount\":\"0.1\",\n         \"authOnly\":false,\n         \"status\":\"Settled\",\n         \"risk\":{},\n         \"requireSignature\":false,\n         \"settledAmount\":\"0\",\n         \"settledDate\":\"2018-03-02T01:00:00.92\",\n         \"authMessage\":\"Approved\",\n         \"availableAuthAmount\":\"0\",\n         \"reference\":\"806021073721\",\n         \"tax\":\"0.01\",\n         \"invoice\":\"1737\",\n         \"customerCode\":\"4457073\",\n         \"customerName\":\"Adam  West\",\n         \"clientReference\":\"1737\",\n         \"type\":\"Sale\",\n         \"source\":\"Order\"\n      }\n   ],\n   \"recordCount\":1\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customernote": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer's notes",
        "description": "Get a customer's notes",
        "operationId": "Customers_getacustomersnote",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Customer Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200"
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": 34918,\n        \"text\": \"Test\",\n        \"author\": \"John Doe\",\n        \"authorId\": \"7ceba95c-e0c2-4f66-8fcce2b6ce56\",\n        \"created\": \"2018-05-22T16:48:15.893Z\",\n        \"modified\": \"2018-05-22T16:48:15.893Z\"\n    },\n    {\n        \"id\": 34917,\n        \"text\": \"Test 2\",\n        \"author\": \"John Doe\",\n        \"authorId\": \"7ceba95c-e0c2-4f66-8fcce2b6ce56\",\n        \"created\": \"2018-05-22T16:32:10.44Z\",\n        \"modified\": \"2018-05-22T16:32:10.44Z\"\n    }\n]"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer note",
        "description": "Add a customer note",
        "operationId": "Customers_addacustomernote",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Customer Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_customernote_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customer/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer",
        "description": "Get a specific customer",
        "operationId": "Customers_getaspecificcustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id of customer",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_201"
                },
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 10696552,\n    \"created\": \"2018-01-30T15:02:09.547Z\",\n    \"name\": \"Test Customer\",\n    \"firstName\": \"Test\",\n    \"lastName\": \"Customer\",\n    \"number\": \"123\",\n    \"taxId\": \"*****3334\",\n    \"visits\": 0,\n    \"transactionCount\": 0,\n    \"spend\": \"0\",\n    \"sales\": \"0\",\n    \"refunds\": \"0\",\n    \"lastActivity\": \"2018-01-30T15:02:12.827Z\",\n    \"allowPromotions\": false,\n    \"loyaltyStatus\": \"Declined\",\n    \"loyaltyEnrolled\": \"\",\n    \"isVip\": false,\n    \"spendProfile\": \"New\",\n    \"spendProfileIcon\": \"glyphicon-butterfly\",\n    \"addressName\": \"Headquarters\",\n    \"address1\": \"221 E Baker St\",\n    \"address2\": \"Suite 2\",\n    \"city\": \"Dallas\",\n    \"state\": \"TX\",\n    \"zip\": \"75252\",\n    \"customerType\": \"Person\",\n    \"spendProfileOverride\": true,\n    \"isTaxExempt\": false,\n    \"hasPayments\": false,\n    \"hasContracts\": false,\n    \"hasInvoices\": false,\n    \"displayColor\": \"A1BC3A\",\n    \"activeStatus\": true\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer",
        "description": "Create a new customer",
        "operationId": "customers_updatecustomer",
        "parameters": [
            {
                "name": "customerId",
                "in": "path",
                "schema": {
                    "type": "integer",
                    "format": "int64"
                },
                "required": true
            }
        ],
        "requestBody": {
            "content": {
                "application/json": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "merchantId": {
                                "type": "integer",
                                "description": "Merchant id",
                                "format": "int32"
                            },
                            "name": {
                                "type": "string",
                                "description": "Customer's full name (display name)"
                            },
                            "firstName": {
                                "type": "string",
                                "description": "Customer's first name"
                            },
                            "lastName": {
                                "type": "string",
                                "description": "Customer's last name"
                            },
                            "address1": {
                                "type": "string",
                                "description": "Street address"
                            },
                            "address2": {
                                "type": "string",
                                "description": "Apartment, suite, department"
                            },
                            "city": {
                                "type": "string",
                                "description": "City"
                            },
                            "state": {
                                "type": "string",
                                "description": "State"
                            },
                            "zip": {
                                "type": "string",
                                "description": "Zip code"
                            },
                            "addressName": {
                                "type": "string",
                                "description": "Name for address, i.e. home, work"
                            },
                            "customerType": {
                                "type": "string",
                                "description": "Type of customer: Business or Person",
                                "default": "Person"
                            },
                            "email": {
                                "type": "string",
                                "description": "Customer's email address"
                            },
                            "mobile": {
                                "type": "string",
                                "description": "Customer's cell phone number"
                            },
                            "phone": {
                                "type": "string",
                                "description": "Customer's phone number"
                            },
                            "number": {
                                "type": "string",
                                "description": "Client provided customer number"
                            },
                            "isTaxExempt": {
                                "type": "boolean",
                                "description": "Is this customer tax exempt?",
                                "default": false
                            },
                            "taxId": {
                                "type": "string",
                                "description": "Customer's SSN or EIN (9 digits) (Required for tax exempt customers)"
                            },
                            "spendProfile": {
                                "type": "string",
                                "description": "Customer's spend profile"
                            },
                            "customFields": {
                                "type": "array",
                                "description": "Client-defined custom fields. Must be set up prior to use",
                                "items": {
                                    "properties": {
                                        "fieldDataType": {
                                            "type": "string",
                                            "description": "Field Data type of your custom Field. Values: String, Integer, Boolean, Decimal, or List"
                                        },
                                        "fieldDefinitionId": {
                                            "type": "integer",
                                            "description": "Id of field",
                                            "format": "int32"
                                        },
                                        "isRequired": {
                                            "type": "boolean",
                                            "description": "Is this field Required"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "Field Name"
                                        },
                                        "value": {
                                            "type": "string",
                                            "description": "Value for field"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "activeStatus": {
                                "type": "boolean",
                                "description": "Is the customer active?",
                                "default": true
                            },
                            "selectedSpendProfile": {
                                "type": "string",
                                "description": "Spend profile selected for customer"
                            },
                            "spendProfileOverride": {
                                "type": "boolean",
                                "description": "If the spend profile was selected or sent manually, this would be true.",
                                "default": false
                            }
                        }
                    }
                }
            }
        },
        "responses": {
            "201": {
                "description": "201",
                "content": {
                    "application/json": {
                        "examples": {
                            "Result": {
                                "value": "{\n    \"id\": 10696552,\n    \"created\": \"2018-01-30T15:02:09.547Z\",\n    \"name\": \"Test Customer\",\n    \"firstName\": \"Test\",\n    \"lastName\": \"Customer\",\n    \"number\": \"123\",\n    \"taxId\": \"*****3334\",\n    \"visits\": 0,\n    \"transactionCount\": 0,\n    \"spend\": \"0\",\n    \"sales\": \"0\",\n    \"refunds\": \"0\",\n    \"lastActivity\": \"2018-01-30T15:02:12.827Z\",\n    \"allowPromotions\": false,\n    \"loyaltyStatus\": \"Declined\",\n    \"loyaltyEnrolled\": \"\",\n    \"isVip\": false,\n    \"spendProfile\": \"New\",\n    \"spendProfileIcon\": \"glyphicon-butterfly\",\n    \"addressName\": \"Headquarters\",\n    \"address1\": \"221 E Baker St\",\n    \"address2\": \"Suite 2\",\n    \"city\": \"Dallas\",\n    \"state\": \"TX\",\n    \"zip\": \"75252\",\n    \"customerType\": \"Person\",\n    \"spendProfileOverride\": true,\n    \"isTaxExempt\": false,\n    \"hasPayments\": false,\n    \"hasContracts\": false,\n    \"hasInvoices\": false,\n    \"displayColor\": \"A1BC3A\",\n    \"activeStatus\": true\n}"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "integer",
                                    "example": 10696552,
                                    "default": 0
                                },
                                "created": {
                                    "type": "string",
                                    "example": "2018-01-30T15:02:09.547Z"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Test Customer"
                                },
                                "firstName": {
                                    "type": "string",
                                    "example": "Test"
                                },
                                "lastName": {
                                    "type": "string",
                                    "example": "Customer"
                                },
                                "number": {
                                    "type": "string",
                                    "example": "123"
                                },
                                "taxId": {
                                    "type": "string",
                                    "example": "*****3334"
                                },
                                "visits": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                },
                                "transactionCount": {
                                    "type": "integer",
                                    "example": 0,
                                    "default": 0
                                },
                                "spend": {
                                    "type": "string",
                                    "example": "0"
                                },
                                "sales": {
                                    "type": "string",
                                    "example": "0"
                                },
                                "refunds": {
                                    "type": "string",
                                    "example": "0"
                                },
                                "lastActivity": {
                                    "type": "string",
                                    "example": "2018-01-30T15:02:12.827Z"
                                },
                                "allowPromotions": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "loyaltyStatus": {
                                    "type": "string",
                                    "example": "Declined"
                                },
                                "loyaltyEnrolled": {
                                    "type": "string",
                                    "example": ""
                                },
                                "isVip": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "spendProfile": {
                                    "type": "string",
                                    "example": "New"
                                },
                                "spendProfileIcon": {
                                    "type": "string",
                                    "example": "glyphicon-butterfly"
                                },
                                "addressName": {
                                    "type": "string",
                                    "example": "Headquarters"
                                },
                                "address1": {
                                    "type": "string",
                                    "example": "221 E Baker St"
                                },
                                "address2": {
                                    "type": "string",
                                    "example": "Suite 2"
                                },
                                "city": {
                                    "type": "string",
                                    "example": "Dallas"
                                },
                                "state": {
                                    "type": "string",
                                    "example": "TX"
                                },
                                "zip": {
                                    "type": "string",
                                    "example": "75252"
                                },
                                "customerType": {
                                    "type": "string",
                                    "example": "Person"
                                },
                                "spendProfileOverride": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                },
                                "isTaxExempt": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "hasPayments": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "hasContracts": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "hasInvoices": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                },
                                "displayColor": {
                                    "type": "string",
                                    "example": "A1BC3A"
                                },
                                "activeStatus": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                }
                            }
                        }
                    }
                }
            },
            "400": {
                "description": "400",
                "content": {
                    "application/json": {
                        "examples": {
                            "Result": {
                                "value": "{}"
                            }
                        },
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                }
            }
        },
        "deprecated": false
    }
    },
    "/checkout/v3/field/id": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete custom fields for customers",
        "description": "You can create custom fields for your customers which you would then pass into the create customer route.",
        "operationId": "Customers_Deletecustomfieldsforcustomers",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger"
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customerphoto": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add a customer photo",
        "description": "Add a customer photo",
        "operationId": "Customers_addacustomerphoto",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Customer Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_customerphoto_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto generated using Swagger"
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customeraddress": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Updates a customer's address",
        "description": "Updates a specific customer's address",
        "operationId": "Customers_updateaspecificcustomesaddress",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id of customer",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "subId",
            "in": "query",
            "description": "Id of address",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_customeraddress_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200"
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": 3757506,\n        \"name\": \"Headquarters\",\n        \"address1\": \"221 E Baker St\",\n        \"address2\": \"Suite 2\",\n        \"city\": \"London\",\n        \"state\": \"TX\",\n        \"zip\": \"75252\",\n        \"created\": \"2018-01-30T15:02:09.567Z\",\n        \"isDefault\": true\n    }\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer's address",
        "description": "Creates a specific customer's address",
        "operationId": "Customers_createaspecificcustomersaddress",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Id of customer",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "echo",
            "in": "query",
            "description": "Return results",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_customeraddress_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200"
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": 3757506,\n        \"name\": \"Headquarters\",\n        \"address1\": \"221 E Baker St\",\n        \"address2\": \"Suite 2\",\n        \"city\": \"London\",\n        \"state\": \"TX\",\n        \"zip\": \"75252\",\n        \"created\": \"2018-01-30T15:02:09.567Z\",\n        \"isDefault\": true\n    }\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/customeraddress/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer's address",
        "description": "Get a specific customer's address(es)",
        "operationId": "Customers_getacustomersaddress",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Id of customer",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200"
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": 3757506,\n        \"name\": \"Headquarters\",\n        \"address1\": \"221 E Baker St\",\n        \"address2\": \"Suite 2\",\n        \"city\": \"London\",\n        \"state\": \"TX\",\n        \"zip\": \"75252\",\n        \"created\": \"2018-01-30T15:02:09.567Z\",\n        \"isDefault\": true\n    }\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/application": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Get API Keys",
        "description": "Retrieve API key and secret pairs for specified merchant",
        "operationId": "MerchantAccount_getapikeys",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "description": "Merchant Id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Result": {
                    "value": "{\n  \"records\":[\n    {\n      \"applicationId\":\"078c0b21-xxxx-xxxx-xxxx-xxxxxxxxx078\",\n      \"name\":\"Example 123\",\n      \"description\":\"New API connection example\",\n      \"apiKey\":\"Y45YsGxxxxxe7ZGTwoW\",\n      \"isDeleted\":false,\n      \"locked\":true,\n      \"merchantId\":100000019,\n      \"roleId\":2,\n      \"utcDateCreated\":\"2018-05-16T18:20:57.177Z\",\n      \"utcDateModified\":\"2018-05-16T18:20:57.177Z\"\n    },\n    {\n      \"applicationId\":\"58b89c33-xxxx-xxxx-xxxx-xxxxxxxxx571\",\n      \"name\":\"Example API Key Name\",\n      \"description\":\"This is an Example\",\n      \"apiKey\":\"UGeEtpXxxxxxxWfRwBs\",\n      \"isDeleted\":false,\n      \"locked\":false,\n      \"merchantId\":100000019,\n      \"roleId\":2,\n      \"utcDateCreated\":\"2018-03-07T15:01:08.907Z\",\n      \"utcDateModified\":\"2018-03-07T15:01:08.907Z\"\n    }\n  ],\n  \"recordCount\":2\n}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Create API Keys",
        "description": "Create a new API key and secret for this merchant",
        "operationId": "MerchantAccount_createapikeys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_application_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/merchant": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Get List of Merchants",
        "description": "Gets a list of all merchants the user has access to",
        "operationId": "MerchantAccount_getalistofmerchant",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 9999
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Which record to start on",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Result": {
                    "value": "{\n   \"records\":[\n      {\n         \"id\":418272276,\n         \"dba\":\"Golf Store TEST\",\n         \"xmid\":8739000841300002,\n         \"applicationStatus\":\"0\",\n         \"awaitingMerchantAcceptance\":false,\n         \"merchantAcceptedAgreement\":false,\n         \"hasPayRightHealthEquipment\":false,\n         \"plan\":\"Basic\",\n         \"package\":[\n            \"Basic\",\n            \"Developer\",\n            \"Retail\",\n            \"Invoice\"\n         ],\n         \"canProcessPayment\":false,\n         \"address\":{\n            \"name\":\"Location\",\n            \"address1\":\"1360 BING WAY\",\n            \"city\":\"ALPHARETTA\",\n            \"state\":\"GA\",\n            \"zip\":\"30004\",\n            \"country\":\"USA\"\n         }\n      },\n      {\n         \"id\":110070419,\n         \"dba\":\"Demo Test TSYS Merchant\",\n         \"xmid\":8739290300300001,\n         \"applicationStatus\":\"0\",\n         \"awaitingMerchantAcceptance\":false,\n         \"merchantAcceptedAgreement\":false,\n         \"hasPayRightHealthEquipment\":false,\n         \"plan\":\"Basic\",\n         \"package\":[\n            \"Basic\",\n            \"Developer\",\n            \"Retail\",\n            \"Invoice\"\n         ],\n         \"canProcessPayment\":false,\n         \"address\":{\n            \"name\":\"Location\",\n            \"address1\":\"1234 TEST ST\",\n            \"city\":\"ALPHARETTA\",\n            \"state\":\"GA\",\n            \"zip\":\"30004\",\n            \"country\":\"USA\"\n         }\n      }\n   ],\n   \"recordCount\":2\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/account": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Get Accounts (Team Members)",
        "description": "Get List of Accounts who can access this merchant",
        "operationId": "MerchantAccount_getaccountsteammember",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "description": "Id of the merchant",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Result": {
                    "value": "{\n  \"records\":[\n    {\n      \"id\":\"0847b450-f7fc-47e7-afd1-e1fdf19909d1\",\n      \"username\":\"demosupervisor\",\n      \"email\":\"supervisor@pps.io\",\n      \"firstName\":\"Demo\",\n      \"lastName\":\"Supervisor\",\n      \"mobile\":\"1114441234\",\n      \"locked\":false,\n      \"active\":true,\n      \"created\":\"2015-01-06T19:39:30.557Z\",\n      \"merchants\":[110070419],\n      \"selectedMerchantId\":110070419,\n      \"role\":\"Supervisor\",\n      \"geocodeRestrictions\":[],\n      \"ipAddressRestrictions\":[]\n    },\n    {\n      \"id\":\"841afd91-0a06-4594-962b-9a0d776b492c\",\n      \"username\":\"democlerk\",\n      \"email\":\"Test@gmail.com\",\n      \"firstName\":\"Test\",\n      \"lastName\":\"Account\",\n      \"locked\":false,\n      \"active\":true,\n      \"created\":\"2016-09-20T20:42:27.9Z\",\n      \"merchants\":[110070419],\n      \"selectedMerchantId\":110070419,\n      \"role\":\"Clerk\",\n      \"geocodeRestrictions\":[],\n      \"ipAddressRestrictions\":[]\n    }\n  ],\n  \"recordCount\":2\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "put": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Update Account (Team Member)",
        "description": "Create a new account (team member) for this merchant (Administrator role only).",
        "operationId": "MerchantAccount_UpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Account (Team Member) ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_account_updatebody"
              },
              "examples": {
                "0": {
                  "value": "{\n     \"active\": true,\n     \"merchants\": [\n          {\n               \"id\": \"3456\",\n               \"dba\": \"56\",\n               \"xmid\": \"45\"\n          }\n     ],\n     \"saleLimit\": 1000,\n     \"refundLimit\": 1000,\n     \"role\": \"Supervisor\",\n     \"timeRestriction\": {\n          \"sunday\": true,\n          \"monday\": true,\n          \"tuesday\": true,\n          \"wednesday\": true,\n          \"thursday\": true,\n          \"friday\": true,\n          \"saturday\": true,\n          \"startTimeMinute\": \"4567\",\n          \"endTimeMinute\": \"765\"\n     },\n     \"id\": \"456\",\n     \"username\": \"345\",\n     \"email\": \"45\",\n     \"firstName\": \"er\",\n     \"lastName\": \"45\",\n     \"selectedMerchantId\": 22345,\n     \"mobile\": \"345\",\n     \"password\": \"4567\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "delete": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Delete Account (Team Member)",
        "description": "",
        "operationId": "MerchantAccount_DeleteAccount",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Account (Team Member) ID",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "SampleResponse": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "https://sandbox.api.mxmerchant.com"
          }
        ]
      },
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Create Account (Team Member)",
        "description": "Create a new account (team member) for this merchant (Administrator role only).",
        "operationId": "MerchantAccount_createnewteammember",
        "parameters": [
          {
            "name": "echo",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3_account_body"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_201"
                },
                "examples": {
                  "Result": {
                    "value": "{\n  \"active\": true,\n  \"saleLimit\": 1000,\n  \"refundLimit\": 1000,\n  \"timeRestriction\": {\n    \"sunday\": false,\n    \"monday\": true,\n    \"tuesday\": true,\n    \"wednesday\": true,\n    \"thursday\": true,\n    \"friday\": true,\n    \"saturday\": false,\n    \"startTimeMinute\": 0,\n    \"endTimeMinute\": 1439\n  },\n  \"photo\": \"\",\n  \"merchants\": [\n    {\n      \"id\": 110070419,\n      \"dba\": \"Demo Test TSYS Merchant\",\n      \"xmid\": 8739290300300001,\n      \"applicationStatus\": \"0\",\n      \"awaitingMerchantAcceptance\": false,\n      \"merchantAcceptedAgreement\": false,\n      \"hasPayRightHealthEquipment\": false,\n      \"plan\": \"Basic\",\n      \"package\": [\n        \"Basic\",\n        \"Developer\",\n        \"Retail\",\n        \"Invoice\"\n      ],\n      \"canProcessPayment\": false,\n      \"address\": {\n        \"name\": \"Location\",\n        \"address1\": \"1234 TEST ST\",\n        \"city\": \"ALPHARETTA\",\n        \"state\": \"GA\",\n        \"zip\": \"30004\",\n        \"country\": \"USA\"\n      },\n      \"spendProfiles\": []\n    }\n  ],\n  \"role\": \"Supervisor\",\n  \"username\": \"apidocstest\",\n  \"firstName\": \"API\",\n  \"lastName\": \"Test\",\n  \"email\": \"docs@pps.io\",\n  \"mobile\": \"1234567890\",\n  \"password\": \"Password1234!\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "basic": []
          }
        ]
      },
      "servers": [
        {
          "url": "https://sandbox.api.mxmerchant.com"
        }
      ]
    },
    "/checkout/v3/accountphoto": {
[...]
